---
/* 1. Definimos las "props" (las variables) que la tarjeta va a recibir */
export interface Props {
  ciclo: string;
  profesor: string;
  tieneSolucion: boolean;
  evaluacion?: string;
}
const { ciclo, profesor, tieneSolucion, evaluacion } = Astro.props as Props;


/* 2. Definimos los íconos (los metemos aquí) */
const checkIcon = `
<span class="inline-flex h-5 w-5 items-center justify-center rounded-full bg-global-primary">
  <span class="block h-1.5 w-2.5 rounded-sm border-b-[3px] border-l-[3px] border-global-text" style="transform: rotate(-45deg) translate(-1px, -1px);"></span>
</span>
`;
const noCheckIcon = `
<span class="inline-flex h-5 w-5 items-center justify-center rounded-full bg-global-border">
  <span class="block h-0.5 w-2.5 rounded-full bg-white/50"></span>
</span>
`;
---

<a href="#" class="flex w-full h-auto flex-col gap-2 rounded-lg bg-global-card p-4 shadow-lg transition-transform hover:scale-105">
  
  <div class="w-full aspect-[3/2] rounded bg-global-bg mb-4"></div>
  
  <div class="flex items-center  pr-2 justify-between -mt-2">
    
    <span class="text-base md:text-lg font-semibold text-global-text">{profesor}</span>
    
    {tieneSolucion ? (
      <Fragment set:html={checkIcon} />
    ) : (
      <Fragment set:html={noCheckIcon} />
    )}

  </div>
  {evaluacion ? (
    <div class="flex items-center justify-between gap-2 pr-2 text-sm md:text-base">
      <span class="font-semibold text-global-text-muted">{evaluacion}</span>
      <span class="text-global-text-muted">{ciclo}</span>
    </div>
  ) : (
    <span class="text-sm md:text-base font-medium text-global-text-muted">{ciclo}</span>
  )}
  
</a>